@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-8">

    <form autocomplete="off" action="/Directpay/Directpay" method="POST">
        <div class="form-group row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 ">
                <button type="submit" id="btnSubmit" class="btn btn-info">
                    Add Transaction
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var resutl = '@ViewBag.Result';
        console.log("Entered js block", resutl);

        if (resutl) alert(resutl);
    });
</script>
