<div class="col-8">

    <form autocomplete="off" action="/Home/InsertInHelloWorld" method="POST">
        <div class="form-group row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 ">
                <button type="submit" id="btnSubmit" class="btn btn-info">
                    Add Transaction
                </button>
            </div>
        </div>
    </form>
    @{ if (!string.IsNullOrEmpty(ViewBag.Result)) {
            <div class="form-group row">
                <div class="col-lg-4" style="color:red">@ViewBag.Result</div>
            </div>
        }
    }
</div>
